.common{
    /* border: 2px solid black; */
    position: absolute;
}
.nav{
    position: relative;
    float: right;
    font-size: 75%;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    background-color: rgba(14, 84, 14, 0.55);
}
.header{
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: -1;
}
.content{
    top: 65px;
    left: 10%;
    right: 10%;
    bottom: 22px;
    background-color: rgba(194, 233, 255, 0.15);
}